.bsfppc-hide-cover {
  display: none;
}

.edit-warning{
  display: none;
}

.popup-content {
  color: #191e23;
  display: block;
}
.bsfppc-overlay{
  display: none;
}

input.bsfppc-drag-feilds {
  width: 87%;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: -5px;
  box-sizing: border-box;
}

.add-button{
  display: none;
}

.dashicons-warning:before {
    content: "\f534";
    margin-left: -10px;
}

.bsfppc-dynamicfeild {
  margin-top: 1px;
  margin-bottom: -20px;
  padding: 0px;
}

.form-table td p {
  margin-top: 4px;
  margin-bottom: 26px;
}

.bsfppc_radio_options {
  display: inline-block;
  font-weight: 600;
}

.info {
  width: 230px;
  padding: 0px 5px 0px 5px; 
  border-radius: 5px;
  height: 100px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  text-align: center;
  box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
  border: 1px solid #ddd;
  background-color: #ffffff;
  border:1px #666;
  transition:opacity 0.8s;
  position: absolute;
  margin-top: -5px;
  z-index: 9999;
  left: -999999px;

}
.info:before {         
        content: '';
        display:block;
        width:0;
        height:0;
        color:transparent;
        border:10px solid #666;
        border-color:transparent transparent #FFF;
        margin-top:-20px;
        margin-left: 115px;
    }

.bsfppc-tooltip {
  font-weight: 700;
}

.bsfppc-setting-name{
  margin-top: 0px;
}

.bsfppc-warning {
  color: red;
  font-weight: 600 ;
}

.dashicons-menu-alt3 {
  padding-top: 10px;
}

.button-primary.bsfppcsave {
  display: none;
}

h1 {
  font-size: 2em;
}

ul.bsfppc-ul {
  padding: 10;
  width: 80%;
  list-style-type: none;
}

ul.bsfppc-ul li.bsfppc-li {
  cursor: move;
  margin: 0px 0px 0px 4px;
  font-size: 1.25em;
  padding: 5px 0px 5px 5px;
  border-left: 1px solid #d3d3d3;
  border-right: 1px solid #d3d3d3;
  background: #fff;
}

ul.bsfppc-ul div {
  font-size: 0.5em;
  letter-spacing: 10px;
  width: 10px;
}

ul.bsfppc-ul.up,
ul.bsfppc-ul.down {
  float: left;
}

ul.bsfppc-ul.up:before {
  content: "\f077";
}

ul.bsfppc-ul.down:before {
  content: "\f078";
}

.bsfppcdragdrop {
  align-content: left;
}

.bsfppc-description {
    font-style: italic;
    padding-bottom: 15px;
 }

 .form-table td p {
  margin-bottom: 0px;
 }

.bsfppc-edit-waring-description{
    font-style: italic;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
    opacity: 0.9;
    transition: opacity 0.5s ease; 

}

.bsfppc-emptylist-waring-description{
    font-style: italic;
    border: 10px solid red;
    border-radius: 15px;
    color: red;
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
    opacity: 0.9;
    transition: opacity 2.0s ease; 
    animation:bsfppc-alreadyexists-waring-description 4.0s 1;
    transition: opacity 0.5s ease; 
}

.bsfppc-item-input {
  width: 80%;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 0px;
  box-sizing: border-box;
}

.bsfppc-alreadyexists-waring-description{
    font-style: italic;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    margin-bottom: 25px
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
    opacity: 0.9;
    transition: opacity 3.0s ease; 
    animation:bsfppc-alreadyexists-waring-description 3.0s 1;
    animation-fill-mode: forwards;

}

@keyframes bsfppc-alreadyexists-waring-description{
    from {opacity :1;}
    to {opacity :0;}
}