.popup-overlay {
display: none;

}

.popup-content {

color: #191e23;
display: block;
}	

input[type=text], select .drag-feilds{
  width: 80% ;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 0px;

  box-sizing: border-box;

}

.bsfppc-dynamicfeild{
  margin-top: 1px;
  margin-bottom: -20px;
  padding: 0px;
}

.form-table td p {
    margin-top: 4px;
    margin-bottom: 26px;
}


.remove_field{

	display: inline-block;

}

.bsfppc_radio_options{
	display: inline-block;
	font-weight: 600;
}

.info
{
  width:250px;
  border-radius: 5px;
  height:100px;
  text-align:center;
  border:1px solid #ddd;
  background-color: #ffffff;
  position:absolute;
  margin-top: -5px;
  /*display: none;*/
  z-index: 9999;
 
  left:-999999px;
}

.bsfppc-tooltip{
  font-weight: 600;
}

#notifications:before {
    /*content: " ";*/
    border-color: black;
    display: block;
    width: 0;
    height: 0;
    border:1px solid #ddd;
    color: transparent;
    border: 10px solid #CCC;
    border-color: transparent transparent grey;
    margin-top: -20px;
    margin-left: 100px;
}
.drag-feilds.over{

box-shadow: 10px 10px 5px #aaaaaa;
}

form{

  margin-top: 20px;
}

.warning{

  color: red;
}

.dashicons-menu-alt3{
  padding-top:10px; 
}

.button-primary.bsfppcsave{
  display: none;
}

  h1 { font-size: 2em; }
  ul.test { 
    padding: 10; 
    width: 80%;
    list-style-type: none; 
  }

  ul.test li.testy { 
    cursor: move;
    margin: 0px 0px 0px 4px;
    font-size: 1.25em;
    padding: 10px 10px 0px 9px;
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
    background: #fff;
  }

  ul.test div  { 

    font-size: 0.5em;
    letter-spacing: 10px;
    width: 10px;
  }

  ul.test.up, ul.test.down { float: left; }
  ul.test.up:before { content: "\f077"; } 
  ul.test.down:before { content: "\f078"; }

  .bsfppcdragdrop{
    align-content: left;
  }

  .ui-sortable-placeholder{
    border: 1px solid #e5e5e5 !important;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);

  }
.bsfppc-description{

  font-style: italic;
}