.bsfppc-hide-empty-warning {
  visibility: hidden;
   display: inline;

}

.bsfppc-hide-exists-warning {
  visibility: hidden;
  display: inline;
  background-color: #f1f1f1;
}

.popup-content {
  color: #191e23;
  display: block;
}
.bsfppc-overlay{
  display: none;
}

.bsfppc-warning-div{
  display: block;
}

input.bsfppc-drag-feilds {
  padding: 5px;
  display: inline-block;
  border: 2px solid #fff;
  margin-left: 0px;
  box-sizing: border-box;
  color: #000;
  font-size: 13px;
  width: 88%;
}

input[readonly].bsfppc-drag-feilds{
    background-color: #fff;
    color: #000;
    width: 100%;
    max-width: 630px;
    border: none;
  
}
input[type=text].bsfppc-drag-feilds{
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0);
  border: none;


}

.add-button{
  display: none;
}

.dashicons-menu-alt2.bsfppc-move-dashicon {
  cursor: move;
  padding: 5px 0px 0px 7px;
}


.form-table td p {
  margin-top: 4px;
  margin-bottom: 0px;
}

.bsfppc-tooltip {
    font-weight: 600;
    display: block;
    font-size: 20px;
}

.bsfppc-setting-name{
  margin-top: 0px;
}

.bsfppc-warning {
  color: red;
  font-weight: 600 ;
}



.button-primary.bsfppcsave {
  display: none;
}

h1 {
  font-size: 2em;
}

ul.bsfppc-ul {
  position: relative;
  padding: 10;
  list-style-type: none;
}

ul.bsfppc-ul li.bsfppc-li {
    margin: 0px 0px 0px 0px;
    font-size: 1.25em;
    display: flex;
    padding: 10px 0px 10px 0px;
    border: 0.5px solid #d3d3d3;
    background: #fff;
    font-weight: 600;
    margin-bottom: 10px;
  }

.bsfppc-dashed-placeholder {
  border: 1px dashed #999;
  margin: 10px 0px 10px 0px;
  padding: 5px 0px 45px 6px;
}

ul.bsfppc-ul div {
  font-size: 0.5em;
  letter-spacing: 10px;
  width: 10px;
}

/*ul.bsfppc-ul.up,
ul.bsfppc-ul.down {
  float: left;
}*/

.bsfppcdragdrop {
  align-content: left;
}

#bsfppc-update{
  padding: 0 12px 2px;
  height: 33px;
  line-height: 32px;
  font-size: 13px;
  margin: 0 12px 0 3px;
}

#bsfppc-publish{
  padding: 0 12px 2px;
  height: 33px;
  line-height: 32px;
  font-size: 13px;
  padding: 0 12px 2px;
  margin: 0 12px 0 3px;
}

.bsfppc-popup-warn  {
    width: 400px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-align: center;
    box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
    background-color: #ffffff;
    transition: opacity 0.8s;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -70%);
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    margin-top: 50;
    margin-left: 50;
}

.bsfppc-popup-prevent {
    width: 400px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    text-align: center;
    box-shadow: 0px 0px 15px -6px rgba(0,0,0,0.75);
    background-color: #ffffff;
    transition: opacity 0.8s;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -70%);
    position: absolute;
    z-index: 99;
    border-radius: 5px;
    margin-top: 50;
    margin-left: 50;
}

.bsfppc-modal-warn {

    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;    
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

.bsfppc-modal-prevent{
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;    
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.5s;
    overflow: auto;
    transition: all 0.3s linear;
}

}
.bsfppc-description {
    font-style: italic;
    padding-bottom: 15px;
    color: #666;
 }


.bsfppc_input_feild {
    margin-top: 15px;
    max-width: 840px;
}

.bsfppc-list-waring-description{
    font-style: italic;
    font-size: 13px;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
    opacity: 0.9;
    transition: opacity 0.5s ease; 
    display: inline-block;
}

.bsfppc-item-input {
  width: 84%;
  padding: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 5px;
  box-sizing: border-box;
}

.bsfppc-alreadyexists-waring-description{
    visibility: none;
    font-style: italic;
    border: 1px solid red;
    border-radius: 15px;
    color: red;
    display: inline-block;
    margin-bottom: 25px
    font-size: 13px;
    font-weight: normal;
    padding: 0 6px;
    opacity: 0.9;
    transition: opacity 3.0s ease; 
    animation:bsfppc-alreadyexists-waring-description 3.0s 1;
    animation-fill-mode: forwards;

}

.bsfppc-buttons p:hover {
  background-color: #ddd;
}
.bsfppc-buttons-prevent p:hover {
  background-color: #ddd;
}

.bsfppc-buttons-prevent p :hover {
  background-color: #ddd;
}

.bsfppc-buttons p {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    float: left;
    width: 50%;
    padding: 0;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    background: #f5f5f5;
    list-style: none;
    transition: background-color 0.2s;
}

.bsfppc-buttons-prevent p {
  display: block;
    height: 60px;
    line-height: 60px;
    margin-bottom: -13px;
    padding: 0;
    border: 0;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    background: #f5f5f5;
    list-style: none;
    transition: background-color 0.2s;
}

p.bsfppc-popup-option-okay {
  transition-duration: 5s;
  margin-top: 35px;
  transition-timing-function: linear;
}

.bsfppc-modal-checklist{
    text-align: left;
    padding-bottom: 15px;
    margin-left: 30%;
}

ul.bsfppc-ul {
    position: relative;
    padding: 10;
    max-width: 795px;
    list-style-type: none;
}
table.form-table.bsfppc-form-table {
    background: #f1f1f1;
    max-width: 99%;
    margin-top: 0px;
    padding: 15px;
}
p.bsfppc-setting-name {
    padding-left: 10px;
}

a.nav-tab.tb.nav-tab-active.bsfppc-active-tab {
    background: #f1f1f1;
}

.bsfppc-post{
  padding-left: 15px;
  display: inline-block;
}

.bsfppc-frontend-form{
  margin-top:7px;
}

td.bsfppc-posttypes {
    padding-top: 20px;
}

.bsfppc_main_title{
  font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 5px;
    padding-left: 5px;
}

.bsfppcedit:hover {
   color: #0085ba;
  }

.bsfppcdelete:hover {
   color: #0085ba;
  }

.bsfppcedit {
    background: #fff;
    border: none;
    margin: auto;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    margin-left: 0px;
    cursor: pointer;
    text-decoration: none;
}
.bsfppcdelete {
    background: #fff;
    border: none;
    margin: 0px;
    cursor: pointer;
    font-size: 13px;
    line-height: 20px;
    margin: auto;
    margin-left: 0px;
    text-decoration: none;
}

.bsfppc-popup-option-dontpublish {
    display: inline-block;
    width: 50%;
    padding: 15px 0 15px 0px;
    cursor: pointer;
    background: #f5f5f5;
    border-right: 1px solid #a9a9a9;
    border-radius: 0px 0px 0px 5px;
}

.bsfppc-popup-options-publishanyway { 
    display: inline;
    width: 50%;
    padding: 15px 0 15px 0px;
    cursor: pointer;
    background: #f5f5f5;
    border-radius: 0px 0px 5px 0px;
}

.bsfppc-button-wrapper {
    display: flex;
    margin-top: 50px;
    border-top: 1px solid #a9a9a9;
}

p.bsfppc-nolist-item{

    padding-top: 13px;
    font-style: italic;
}

.bsfppc-empty-list {
    font-size: 1.25em;
    visibility: hidden;
    max-width: 785px;
    padding: 5px 0px 5px 7px;
    border-left: 2px solid #d3d3d3;
    border-right: 2px solid #d3d3d3;
    background: #fff;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px 0px #ddd;
  }

  span.spinner.bsfppc-spinner.is-active {
    margin-top: 0;
}


.bsfppc_radio_options {
    display: inline-block;
    font-weight: 600;
}

div#bsfppc_custom_meta_box {  
   transition:1.0s ease;
   -moz-transition:1.0s ease;
   -webkit-transition:1.0s ease;
  }

  .bsfppc-metabox-background{
   background:  #fff8e5;
   transition:1.0s ease;
   -moz-transition:1.0s ease;
   -webkit-transition:1.0s ease;
  }

  .bsfppc-checklist-heading{
    margin: 0px 0 10px 0;
  }

  .bsfppcdelete:focus{
    outline: none;
  }

  .bsfppcedit:focus{
  outline: none;
  }

  .bsfppc-new-list-item{
     transition:2.0s ease;
    -moz-transition:2.0s ease;
    -webkit-transition:2.0s ease;
    -webkit-box-shadow: 0px 0px 9px 5px rgba(193,237,255,1);
    -moz-box-shadow: 0px 0px 9px 5px rgba(193,237,255,1);
    box-shadow: 0px 0px 9px 5px rgba(193,237,255,1);

}
p.bsfppc-popup-description {
    padding: 0px 20px 0px 20px;
}

.bsfppc-checklist-checked{
  text-decoration: line-through;
}
.bsfppc-checklist{
  display: inline-block;
  margin-top: 20px;
}