.popup-overlay {

visibility:hidden;

}

.popup-content {

color: #191e23;
visibility:hidden;
}	


/*table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}*/

.wy-tooltip {
	border: 1px solid #F1D031;
	color: #444;
	background: #FFFFA3;
	box-shadow: 0 2px 3px #999;
	position: absolute;
	padding: 5px;
	text-align: left;
	border-radius: 5px;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
}
.wy-hide { display: none; }

input[type=text], select {
  width: 90% ;
  padding: 12px 12px;
  margin: 1px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-table td p {
    margin-top: 4px;
    margin-bottom: 26px;
}


.remove_field{

	display: inline-block;

}

.bsfppc_radio_options{
	display: inline-block;
	font-weight: 600;
}

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

#columns {
  list-style-type: none;
}

.column {
  width: 80%;
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: center;
  cursor: move;
}
.column header {
  height: 20px;
  width: 150px;
  color: black;
  /*background-color: #ccc;*/
  padding: 5px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
  border: 2px solid;
}
.column.over {
  border: 2px dashed #000;
  border-top: 2px solid;
}